@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding:0;
  margin: 0;
  
}

body{
  background: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

:root{
  --color-primary: #231c1c;
  --color-accent: #f3f3f3;
  --bg-color: #57b3ca;

  --transition: all 400ms ease ;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


.container {
  width: var(--container-width-lg);
  margin: 0 auto; 
}

.btn{
  width: max-content;
    display: inline-block;
    color: var(--color-accent);
    padding: 1rem 3.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    border: 2px solid var(--color-primary);
    transition: var(--transition);
    background-color: var(--color-primary);

}

.btn:hover{
  color: var(--color-primary);
  border-color: var(--color-primary) ;
  background-color: transparent;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover{
  color: var(--bg-color);
}

 /* ============= Media queries (TABLET) ======================= */

 @media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }
}

/* ============= Media queries (Mobile) ======================= */

@media screen and (max-width: 600px) {
  .container {
      width: var(--container-width-sm);
  }
}

/* ============= Media queries (Mobile) ======================= */

@media screen and (max-width: 3900px) {
  .btn{
    font-size: 1rem;
    padding: .8rem 3rem;
  }
}